.btnContainer button {
  text-transform: uppercase;
  position: relative;
  padding: 0.66em 2.22em;
  font-weight: 700;
  min-width: 11.88em;
  display: flex;
  align-items: center;
  color: var(--dark-color);
  transition: 0.2s ease-out;
  margin-inline: auto;
}
.btnContainer button:hover {
  transform: scale(1.02);
}

.btnContainer button > span {
  width: 100%;
  text-align: center;
}
.btnContainer button > svg {
  flex: 1;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 2.349em;
}
.btnContainer button > svg path {
  width: 100%;
  height: 100%;
}
