.container {
  position: fixed;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #000000e3;
  left: 0;
  top: 0;
  z-index: 10;
}
.wrapper {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}
.bodyContainer {
    isolation: isolate;
    padding-block: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}
.bodyContainer p {
  margin-top: 2rem;
}
.bodyContainer h4 {
  margin-block: 1rem;
  font-size: 20px;
  font-weight: 700;
  color: #fac663;
}
/* .wrapper h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 43px;
  font-weight: bold;
  background: linear-gradient(to bottom, #e6c55e, #bdfe77, #e6c55e);
  -webkit-text-fill-color: transparent;
  background-clip: text;
} */
