.container {
  position: fixed;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #000000e3;
  left: 0;
  top: 0;
  z-index: 10;
}
.wrapper {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
.wrapper h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 43px;
  font-weight: bold;
  background: linear-gradient(to bottom, #E6C55E, #BDFE77 , #E6C55E );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
