.mainContainer {
  /* width: fit-content; */
  border: 2px solid var(--primary-400);
  outline: 2px solid var(--primary-400);
  outline-offset: 3px;
  box-shadow: 0 0 0 8px #44627c20;
}

/* Header for Box Title */
.mainContainer .header {
  background: linear-gradient(var(--primary-700) 10%, #63031b);
  /* overflow: hidden; */
  position: relative;
  isolation: isolate;
  font-size: 20px;
  border-bottom: 2px solid var(--primary-400);
}

/* Center Glow Styling */
/* .mainContainer .header::before { */
.mainContainer .header .headerGlow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-y: hidden;
}
.mainContainer .header .headerGlow::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3.5em;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #b60036;
  filter: blur(13px);
  border-radius: 40px;
}

.mainContainer .header h4 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding: 0.3em 1em;
  text-shadow: -2px 3px 0px #000000d6;
}
.mainContainer .header .dimaondLineContainer {
  position: absolute;
  width: 94px;
  z-index: 10;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.mainContainer .body {
  background-color: var(--dark-color);
  padding: 3px 4.6px;
  height: calc(100% - 40px);
}
