.container {
  position: relative;
  border: 2px solid var(--primary-400);
  outline: 4px solid var(--primary-400);
  outline-offset: 4px;
  background-color: var(--primary-700);
  aspect-ratio: 1/1;
}
.leftDiamond,
.rightDiamond {
    filter: drop-shadow(0 0 2px black);
  position: absolute;
  top: -18px;
}
.leftDiamond {
  left: -15px;
}

.rightDiamond {
  right: -15px;
}
