.input {
  width: 100%;
  outline: 0px solid white;
  border-radius: 6px;
  background-color: #ffffff30;
  font-size: 1rem;
  color: var(--dark-color);
  padding: 0.5em;
  resize: none;
  font-family: inherit;
  border: none;
}
.input:active,
.input:focus {
  outline: 2px solid white;
}
.input::placeholder {
  /* color: var(--dark-color); */
}

